# AWS Region
AWS_DEFAULT_REGION=us-west-2

# Name of this printer instance
PRINTER_NAME=printer-1

# SQS queue URL for this printer
SQS_QUEUE_URL=

# DynamoDB table name for print jobs
DYNAMODB_TABLE=campus-print-jobs

# S3 bucket for document storage
S3_BUCKET=campus-print-docs
